* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin-top: -530px;
}

.jumbotron {
  height: 500px;
  background: none;
  z-index: 1000;
}

.container {
  padding-bottom: 2em;
}
a.textLink {
  color: rgb(25, 105, 130);
  font-weight: bolder;
}

#scroll {
  margin-top: 50%;
}

nav {
  z-index: 2000;
  margin-bottom: -80px;
}

.nav {
  margin-top: 2%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  display: block;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 0px 0px 0px 0px;
  background-color: red;
}

a.nav-link {
  color: #ccc;
  display: inline-block;
  margin-left: 15px;
  padding: 13px;
  font-size: .9em;

}

.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: -30px;
}

.nav-blue {
  background-color: #daebf1;
  box-shadow: 0 1px 5px #eee;
  height: 80px;
}

.nav-blue ul {
  border: none;
  margin-top: 25px;
}

#video,
#backgroundImg {
  position: absolute;
  width: 100%;
  opacity: 0.6;
}

#backgroundImg,
#imgSmall {
  display: none;
}

#home h1 {
  padding-top: 1em;
}

h2 {
  padding-top: 1.5em;
  padding-bottom: .5em;
}

#content {
  position: absolute;
  width: 100%;
  margin-top: 20%;
  padding-top: 2%;
  z-index: 1000;
}

#about {
  background-color: #daebf1;
  height: auto;
  color: #666;
  padding-bottom: 4em;
}

#projects {
  background-color: #eee;
  height: auto;
  color: #666;
}

#contact {
  background-color: #daebf1;
  height: auto;
  color: #666;
  padding-bottom: 4em;
}

#preview,
#imgSmall {
  width: 100%;
}

.card-block {
  color: #eee;
  background-color: #666;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-title {
  color: #daebf1;
}

.card a:hover {
  text-decoration: none;
}

.photo-overlay {
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
  background: #fff;
  opacity: 0;
	transition: opacity .5s;
  line-height: 1;
}

.photo-overlay:hover {
	opacity: .3;
}

.photo-overlay p {
  font-size: 3em;
}

.mail a {
  color: #666;
}

.social div {
  padding: 3%;
}

.social-icons {
  color: #666;
  height: 50px;
  width: auto;
  margin: 5px;
}

.social-icons:hover {
  height: 60px;
  margin: 0;
}

.portrait {
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 1px #aaa;
}

#footer {
  height: 300px;
  background-color: #111;
}

.arrow img {
  margin-top: 100px;
}

.arrow img:hover {
  opacity: 0.5;
}


@media (max-width: 767px) {

  nav {
    display: none;
  }

  .jumbotron h1 {
    font-size: 2em;
    margin-top: -2em;
  }

  .container h2 {
    font-size: 2em;
  }

  #content {
    margin-top: 50%;
    padding-top: 0;
  }

  .card-title,
  .lead {
    font-size: 1.1em;
  }

  .social-icons {
    height: 40px;
  }

  .social-icons:hover {
    height: 50px;
    margin: 0;
  }

  .portrait {
    height: 200px;
    width: auto;
  }

}


@media (max-width: 1024px) {

  #video,
  #preview {
    display: none;
  }

  #backgroundImg,
  #imgSmall {
    display: block;
  }

}
